<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Task Tracker</title>
    <link rel="stylesheet" th:href="@{/css/materialize.css}" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .table-container {
            display: inline-block;
            margin-right: 10px;
        }
    </style>
</head>
<div class="table-container">
    TODO
    <table class="highlight" th:each="epic: ${epics}">


        <tbody>
        <tr>
            <th>
                <a th:text="${epic.getName()}"></a>
            </th>
            <th>
                <button>options</button>
            </th>
        </tr>


        <tr th:each="subtask : ${epic.getSubTasks()}">
            <th>
                <a th:text="${subtask.getName()}"></a>
            </th>
            <th>
                <p>
                    <label>
                        <input th:name="${subtask.getId()}" type="radio" th:checked="${subtask.getStatus().name() == 'DONE'}"/>
                        <span>Выполнена</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input th:name="${subtask.getId()}" type="radio" th:checked="${subtask.getStatus().name() == 'NEW'}"/>
                        <span>Не выполнена</span>
                    </label>
                </p>
            </th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>