<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Task Tracker</title>
  <link rel="stylesheet" th:href="@{/css/materialize.css}" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    .table-container {
      display: inline-block;
      margin-right: 10px;
    }
  </style>
</head>
<body>

<center><h1>ДОБАВЛЕНИЕ TASK</h1></center>

<center><h4>Введите имя</h4></center>

<center><input nameTask= "name" type="text"  placeholder="Введите имя"></center>


<center><h4>Введите описание</h4></center>
<center><input nameTask= "description" type="text"  placeholder="Введите описание"></center>

</body>
</html>