<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Task Tracker</title>
    <link rel="stylesheet" th:href="@{/css/materialize.css}" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script th:src="@{/js/materialize.js}"></script>

    <style>
        .table-container {
            display: inline-block;
            margin-right: 10px;
        }
    </style>

    <style>
        .btn {
            margin-bottom: 10px;
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, options);
        });
        $('.dropdown-trigger').dropdown();
    </script>



<body>
<form action="/tasks">
    <button class="waves-effect waves-green btn-large" style="position: absolute; top: 5px; left: 10px;">Tasks</button>
</form>
</body>

<body>
    <button class="waves-effect waves-light btn-large" style="position: absolute; top: 5px; left: 115px;">Epics</button>
</body>

<body>
<form action="/createEpic">
    <div style="position: fixed; right: 20px; bottom: 20px;">
        <button class="btn-floating btn-large waves-effect waves-light blue-grey"><i class="material-icons">add</i></button>
    </div>
</form>
</body>

</head>
<body>

<center><h1>EPICS</h1></center>
<!DOCTYPE html>

<center>
    <div class="table-container">
        <h4>NEW</h4>
        <table class="highlight" th:each="epic: ${epicsNew}">


            <tbody>
            <tr  style="background: #2ebeb0; border-radius: 30px;">
                <th>
                    <b><h6 th:text="${epic.getName()}"></h6></b>
                </th>
                <th>
                    <a class="grey waves-effect waves-light btn modal-trigger" th:href="'#modal_' + ${epic.getId()}"> <center><i class="material-icons right">more_horiz</i>info</center> </a>

                    <!-- Modal Structure -->
                    <div th:id="'modal_' + ${epic.getId()}" class="modal">
                        <div class="modal-content">
                            <h4 th:text="${epic.getName()}" ></h4>
                            <p th:text="${epic.getDescription()}"></p>

                            <form action="/deleteEpicById">
                            <button name="id" th:value="${epic.getId()}" class="waves-effect waves-light btn">Удалить епик</button>
                            </form>

                            <form action="/updEpic">
                                <button name="id" th:value="${epic.getId()}" class="waves-effect waves-light btn">Изменить епик</button>
                            </form>

                            <form action="/createSubTask">
                                <button name="id" th:value="${epic.getId()}" class="waves-effect waves-light btn">Добавить подзадачу</button>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">ОК</a>

                        </div>
                    </div>


                </th>
            </tr>

            <tr style="background: #f3f3f3; border-radius: 80px;">
                <th colspan="2">
                    <b>подзадачи:</b>
                </th>
            </tr>

            <tr th:each="subtask : ${epic.getSubTasks()}" style="background: #f3f3f3; border-radius: 80px;">
                <th>
                    <h6 th:text="${subtask.getName()}"></h6>
                </th>
                <th>
                    <form>
                        <p>
                            <label>
                                <input th:name="${subtask.getId()}" value="NEW" type="radio" th:checked="${subtask.getStatus().name() == 'NEW'}" onchange="handleRadioChange(this)" />
                                <span>Новая</span>
                            </label>
                        </p>
                    </form>


                    <p>
                        <label>
                            <input th:name="${subtask.getId()}" type="radio" th:checked="${subtask.getStatus().name() == 'IN_PROGRESS'}" onchange="handleRadioChange(this)"/>
                            <span>В процессе</span>
                        </label>
                    </p>

                    <p>
                        <label>
                            <input th:name="${subtask.getId()}" type="radio" th:checked="${subtask.getStatus().name() == 'DONE'}" onchange="handleRadioChange(this)"/>
                            <span>Выполнена</span>
                        </label>
                    </p>
                </th>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="table-container">
        <h4>IN PROGRESS</h4>
        <table class="highlight" th:each="epic: ${epicsInProgress}">


            <tbody>
            <tr  style="background: #2ebeb0; border-radius: 30px;">
                <th>
                    <b><h6 th:text="${epic.getName()}"></h6></b>
                </th>
                <th>
                    <a class="grey waves-effect waves-light btn modal-trigger" th:href="'#modal_' + ${epic.getId()}"> <center><i class="material-icons right">more_horiz</i>info</center> </a>

                    <!-- Modal Structure -->
                    <div th:id="'modal_' + ${epic.getId()}" class="modal">
                        <div class="modal-content">
                            <h4 th:text="${epic.getName()}" ></h4>
                            <p th:text="${epic.getDescription()}"></p>

                            <form action="/deleteEpicById">
                                <button name="id" th:value="${epic.getId()}" class="waves-effect waves-light btn">Удалить епик</button>
                            </form>

                            <form action="/updEpic">
                                <button name="id" th:value="${epic.getId()}" class="waves-effect waves-light btn">Изменить епик</button>
                            </form>

                            <form action="/createSubTask">
                                <button name="id" th:value="${epic.getId()}" class="waves-effect waves-light btn">Добавить подзадачу</button>
                            </form>


                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">ОК</a>

                        </div>
                    </div>


                </th>
            </tr>

            <tr style="background: #f3f3f3; border-radius: 80px;">
                <th colspan="2">
                    <b>подзадачи:</b>
                </th>
            </tr>
            <tr th:each="subtask : ${epic.getSubTasks()}" style="background: #f3f3f3; border-radius: 80px;">
                <th>
                    <h6 th:text="${subtask.getName()}"></h6>
                </th>
                <th>
                    <p>
                        <label>
                            <input th:name="${subtask.getId()}" type="radio" th:checked="${subtask.getStatus().name() == 'NEW'}"/>
                            <span>Новая</span>
                        </label>
                    </p>

                    <p>
                        <label>
                            <input th:name="${subtask.getId()}" type="radio" th:checked="${subtask.getStatus().name() == 'IN_PROGRESS'}"/>
                            <span>В процессе</span>
                        </label>
                    </p>

                    <p>
                        <label>
                            <input th:name="${subtask.getId()}" type="radio" th:checked="${subtask.getStatus().name() == 'DONE'}"/>
                            <span>Выполнена</span>
                        </label>
                    </p>
                </th>
            </tr>

            </tbody>
        </table>
    </div>

    <div class="table-container">
        <h4>DONE</h4>
        <table class="highlight" th:each="epic: ${epicsDone}">


            <tbody>
            <tr  style="background: #2ebeb0; border-radius: 30px;">
                <th>
                    <b><h6 th:text="${epic.getName()}"></h6></b>
                </th>
                <th>
                    <a class="grey waves-effect waves-light btn modal-trigger" th:href="'#modal_' + ${epic.getId()}"> <center><i class="material-icons right">more_horiz</i>info</center> </a>

                    <!-- Modal Structure -->
                    <div th:id="'modal_' + ${epic.getId()}" class="modal">
                        <div class="modal-content">
                            <h4 th:text="${epic.getName()}" ></h4>
                            <p th:text="${epic.getDescription()}"></p>

                            <form action="/deleteEpicById">
                                <button name="id" th:value="${epic.getId()}" class="waves-effect waves-light btn">Удалить епик</button>
                            </form>

                            <form action="/updEpic">
                                <button name="id" th:value="${epic.getId()}" class="waves-effect waves-light btn">Изменить епик</button>
                            </form>

                            <form action="/createSubTask">
                                <button name="id" th:value="${epic.getId()}" class="waves-effect waves-light btn">Добавить подзадачу</button>
                            </form>


                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">ОК</a>

                        </div>
                    </div>


                </th>
            </tr>
            <tr style="background: #f3f3f3; border-radius: 80px;">
                <th colspan="2">
                    <b>подзадачи:</b>
                </th>
            </tr>

            <tr th:each="subtask : ${epic.getSubTasks()}" style="background: #f3f3f3; border-radius: 80px;">
                <th>
                    <h6 th:text="${subtask.getName()}"></h6>
                </th>
                <th>
                    <p>
                        <label>
                            <input th:name="${subtask.getId()}" type="radio" th:checked="${subtask.getStatus().name() == 'NEW'}"/>
                            <span>Новая</span>
                        </label>
                    </p>

                    <p>
                        <label>
                            <input th:name="${subtask.getId()}" type="radio" th:checked="${subtask.getStatus().name() == 'IN_PROGRESS'}"/>
                            <span>В процессе</span>
                        </label>
                    </p>

                    <p>
                        <label>
                            <input th:name="${subtask.getId()}" type="radio" th:checked="${subtask.getStatus().name() == 'DONE'}"/>
                            <span>Выполнена</span>
                        </label>
                    </p>

                </th>
            </tr>

            </tbody>
        </table>
    </div>

</center>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    function handleRadioChange(radio) {
        var subtaskId = radio.getAttribute('name');
        var status = radio.;

        // Выполняем запрос на бэкэнд
        $.ajax({
            url: '/updateSubtaskStatus',
            type: 'GET',
            data: {
                subtaskId: subtaskId,
                status: status
            },
            success: function(response) {
                // Обработка успешного ответа
                console.log('Запрос успешно выполнен');
                location.reload();
            },
            error: function(xhr, status, error) {
                // Обработка ошибки
                console.error('Произошла ошибка:', error);
            }
        });
    }
</script>

<script>
    M.AutoInit();
</script>

</html>