<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Task Tracker</title>
    <link rel="stylesheet" th:href="@{/css/materialize.css}" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .table-container {
            display: inline-block;
            margin-right: 10px;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, options);
        });
        $('.dropdown-trigger').dropdown();</script>

<body>
<form action="/tasks">
    <button class="waves-effect waves-green btn-large" style="position: absolute; top: 5px; left: 10px;">Tasks</button>
</form>
</body>

<body>
    <button class="waves-effect waves-light btn-large" style="position: absolute; top: 5px; left: 115px;">Epics</button>
</body>

<body>
<form action="/createEpic">
    <div style="position: fixed; right: 20px; bottom: 20px;">
        <button class="btn-floating btn-large waves-effect waves-light blue-grey"><i class="material-icons">add</i></button>
    </div>
</form>
</body>

</head>
<body>

<!--<a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>-->
<!--<ul id='dropdown1' class='dropdown-content'>-->
<!--    <li><a href="#!">one</a></li>-->
<!--    <li><a href="#!">two</a></li>-->
<!--    <li class="divider" tabindex="-1"></li>-->
<!--    <li><a href="#!">three</a></li>-->
<!--    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>-->
<!--    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>-->
<!--</ul>-->

<center><h1>EPICS</h1></center>
<!DOCTYPE html>




<center>
    <div class="table-container">
        <h4>NEW</h4>
        <table class="highlight" th:each="epic: ${epicsNew}">


            <tbody>
            <tr  style="background: #00bcd4; border-radius: 30px;">
                <th>
                    <b><h6 th:text="${epic.getName()}"></h6></b>
                </th>
                <th>
                    <a class="grey waves-light btn-small"><i class="material-icons left">keyboard_arrow_down</i></a>
                </th>
            </tr>


            <tr th:each="subtask : ${epic.getSubTasks()}" style="background: #f3f3f3; border-radius: 80px;">
                <th>
                    <h6 th:text="${subtask.getName()}"></h6>
                </th>
                <th>
                    <p>
                        <label>
                            <input th:name="${subtask.getId()}" type="radio" th:checked="${subtask.getStatus().name() == 'DONE'}"/>
                            <span>Выполнена</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input th:name="${subtask.getId()}" type="radio" th:checked="${subtask.getStatus().name() == 'NEW'}"/>
                            <span>Не выполнена</span>
                        </label>
                    </p>
                </th>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="table-container">
        <h4>IN PROGRESS</h4>
        <table class="highlight" th:each="epic: ${epicsInProgress}">


            <tbody>
            <tr  style="background: #00bcd4; border-radius: 30px;">
                <th>
                    <b><h6 th:text="${epic.getName()}"></h6></b>
                </th>
                <th>
                    <a class="grey waves-light btn-small"><i class="material-icons left">keyboard_arrow_down</i></a>
                </th>
            </tr>


            <tr th:each="subtask : ${epic.getSubTasks()}" style="background: #f3f3f3; border-radius: 80px;">
                <th>
                    <h6 th:text="${subtask.getName()}"></h6>
                </th>
                <th>
                    <p>
                        <label>
                            <input th:name="${subtask.getId()}" type="radio" th:checked="${subtask.getStatus().name() == 'DONE'}"/>
                            <span>Выполнена</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input th:name="${subtask.getId()}" type="radio" th:checked="${subtask.getStatus().name() == 'NEW'}"/>
                            <span>Не выполнена</span>
                        </label>
                    </p>
                </th>
            </tr>

            </tbody>
        </table>
    </div>

    <div class="table-container">
        <h4>DONE</h4>
        <table class="highlight" th:each="epic: ${epicsDone}">


            <tbody>
            <tr  style="background: #00bcd4; border-radius: 30px;">
                <th>
                    <b><h6 th:text="${epic.getName()}"></h6></b>
                </th>
                <th>
                    <a class="grey waves-light btn-small"><i class="material-icons left">keyboard_arrow_down</i></a>
                </th>
            </tr>


            <tr th:each="subtask : ${epic.getSubTasks()}" style="background: #f3f3f3; border-radius: 80px;">
                <th>
                    <h6 th:text="${subtask.getName()}"></h6>
                </th>
                <th>
                    <p>
                        <label>
                            <input th:name="${subtask.getId()}" type="radio" th:checked="${subtask.getStatus().name() == 'DONE'}"/>
                            <span>Выполнена</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input th:name="${subtask.getId()}" type="radio" th:checked="${subtask.getStatus().name() == 'NEW'}"/>
                            <span>Не выполнена</span>
                        </label>
                    </p>
                </th>
            </tr>

            </tbody>
        </table>
    </div>

</center>

</body>

</html>