<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>
    <link rel="stylesheet" th:href="@{/css/materialize.css}" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<br>
<body>
<center><h1>LogIn</h1></center>
<center>
    <form action="/startAuth" method="post">
<!--        <center><input name= "login" type="text"  placeholder="Введите имя" style="text-align: center"></center>-->
        <div style="width: 450px; margin: 0 auto;">
            <input name="login" type="text" placeholder="Введите имя" style="text-align: center; width: 100%;">
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</center>
</body>
</html>
