<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Task Tracker</title>
  <link rel="stylesheet" th:href="@{/css/materialize.css}" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    .table-container {
      display: inline-block;
      margin-right: 10px;
    }
  </style>
</head>
<body>

<!--это помогает располагать элементы внутри контейнера справа друг от друга-->
<!--<div class="table-container">-->
<!--</div>-->
<div class="table-container">
  TODO
  <table class="centered">
    <tbody>
    <tr>
      <th>
        Переезд
      </th>
      <th>
        <button>options</button>
      </th>
    </tr>
    <tr>
      <th>
        <button>text1</button>
      </th>
    </tr>
    <tr>
      <th>
        <button>text1</button>
      </th>
    </tr>
    <tr>
      <th>
        <button>text1</button>
      </th>
    </tr>
    </tbody>
  </table>
</div>


</body>
</html>