<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Task Tracker</title>
    <link rel="stylesheet" th:href="@{/css/materialize.css}" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script th:src="@{/js/materialize.js}"></script>

    <style>
        .btn {
            margin-bottom: 10px;
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, options);
        });
        $('.dropdown-trigger').dropdown();</script>
</head>
<body>





<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Имя таски</h4>
        <p>Описание</p>

        <button class="waves-effect waves-light btn">Удалить таску</button>



        <form action="/updTask">
        <button class="waves-effect waves-light btn">Изменить таску</button>
        </form>


    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">ОК</a>

    </div>
</div>



</body>
<script>
    M.AutoInit();
</script>
</html>