<!DOCTYPE html>
<html lang="en">
<head>
  <!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8">
    <title>Task Tracker</title>
    <link rel="stylesheet" th:href="@{/css/materialize.css}" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
      .table-container {
        display: inline-block;
        margin-right: 10px;
      }
    </style>

  </head>
  <body>
  <center><h1>ИЗМЕНЕНИЕ EPIC</h1></center>

  <center><h4>Введите новое имя</h4></center>

  <div style="width: 450px; margin: 0 auto;">
    <input nameTask="nameTask" type="text" placeholder="Если имя не будет меняться, не заполняйте поле" style="text-align: center; width: 100%;">
  </div>

  <center><h4>Введите новое описание</h4></center>

  <div style="width: 450px; margin: 0 auto;">
    <input descriptionTask="descriptionTask" type="text" placeholder="Если описание не будет меняться, не заполняйте поле" style="text-align: center; width: 100%;">
  </div>



  <center>
    <button class="btn waves-effect waves-light" type="submit" name="action">Изменить
      <i class="material-icons right">add_circle_outline</i>
    </button>
  </center>
  </body>
  </html>